.dark-mode {
  font-weight: 600;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dark-mode svg { height: 1.25rem; }

.dark-mode__dark-btn { filter: invert(1); }

@media (min-width: 600px) {
  .dark-mode {
    cursor: pointer;
    transition: all .3s;    
  }
  .dark-mode:hover { transform: scale(1.1); }
}