.navbar {
  background-color: var(--element-color);
  width: 100%;
  padding: 1.5rem 0;
  box-shadow: var(--shadow);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  .navbar__title {
    cursor: pointer;
    transition: transform .3s;
  }
  .navbar__title:hover { transform: scale(1.1); }
}